*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: lavender;
    font-family: Goldman, sans-serif;
}
#title{
    text-align: center;
    margin: 10px auto;
    font-weight: 700;
}
#wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
    /* background-color: blueviolet; */
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#score-board{
    position: absolute;
    top: 65px;
    right: 7%;
}
#game-board{
    height: 90vmin;
    width: 90vmin;
    background-color: lightgreen;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}
#game-over{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
    height: 32vmin;
    width: 64vmin;
    background-color: powderblue;
    border: 0.32vmin solid;
    visibility: hidden;
    opacity: 0;
}
#play-again{
    position: relative;
    width: 100px;
    height: auto;
    padding: 5px 10px;
    font-family: Goldman;
    top: 15px;
}
.snake{
    background-color: royalblue;
    border: 0.2vmin solid;
    border-radius: 5px;
}
.food{
    background-color: orangered;
    border: 0.3vmin solid;
    border-radius: 50%;
    animation: flicker-food 1500ms infinite;
}

@keyframes flicker-food{
    0%{
        opacity: 1;
        visibility: visible;
    }
    50%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}